html {
  font-family: 'Palatino', serif;
  color: #5E8892;
}

body {
  margin: 0;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  width: 100%;
}

.title {
  position: absolute;
  margin: 0;
  left: -76px;
  top: -46px;
  font-size: 84px;
  letter-spacing: 22px;
  font-weight: normal;
}

.content {
  position: relative;
  width: calc(100vw - 240px);
  margin: 120px 120px 0;
}

.content__background {
  width: 100%;
}

.content__background-image {
  width: 100%;
}

.content__copy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

.subhead {
  font-size: 38px;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.contact p {
  font-size: 14px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social img {
  width: 30px;
  height: 30px;
  margin-left: 13px;
}
h4 {
  font-size: 18px;
  font-weight: normal;
}

/*  MEDIA QUERIES */
    /* 0 - 450px  */
    /* 451px - 559px  */
    /* 560px - 767px  */
    /* 768px -  979px */
    /* 980px - 1200px */
    /* 1201px ++ */


/*________________________*/
/* SMALL MOBILE */
/*________________________*/

@media screen and (max-width: 450px) {
  .content {
    width: calc(100vw - 60px);
    margin: 40px 30px 0;
  }
  .title {
    left: -13px;
    top: -17px;
    font-size: 33px;
    letter-spacing: 10px;
  }
  .subhead {
    font-size: 18px;
    letter-spacing: 6px;
    padding-bottom: 7px;
  }
  .contact {
    margin: 7px 0;
    flex-direction: column;
    align-items: center;
  }
  h4 {
    font-size: 16px;
    margin: 8px 0;
  }
  .social {
    flex-direction: column;
  }
  .social img {
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-top: 10px;
  }
}
/*________________________*/
/* MEDIUM MOBILE */
/*________________________*/
@media screen and (min-width: 451px) and (max-width: 559px) {
  .content {
    width: calc(100vw - 50px);
    margin: 50px 25px 0;
  }
  .title {
    left: -18px;
    top: -23px;
    font-size: 40px;
    letter-spacing: 10px;
  }
  .subhead {
    font-size: 18px;
    letter-spacing: 6px;
    padding-bottom: 7px;
  }
  .contact {
    margin: 7px 0;
    flex-direction: column;
    align-items: center;
  }
  h4 {
    font-size: 16px;
    margin: 8px 0;
  }
  .social {
    flex-direction: column;
  }
  .social img {
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-top: 10px;
  }
}

/*________________________*/
/*  LARGE MOBILE */
/*________________________*/
@media screen and (min-width: 560px) and (max-width: 767px) {
  .content {
    width: calc(100vw - 140px);
    margin: 70px 70px 0;
  }
  .title {
    left: -44px;
    top: -28px;
    font-size: 50px;
    letter-spacing: 11px;
  }
  .subhead {
    font-size: 25px;
    letter-spacing: 6px;
    padding-bottom: 15px;
  }
  .contact {
    margin: 7px 0;
    flex-direction: column;
    align-items: center;
  }
  h4 {
    font-size: 15px;
    margin: 8px 0;
  }
  .social img {
    width: 23px;
    height: 23px;
    margin-left: 10px;
  }
}

/*________________________*/
/*  TABLET */
/*________________________*/
@media screen and (min-width: 768px) and (max-width: 979px) {
  .content {
    width: calc(100vw - 160px);
    margin: 80px 80px 0;
  }
  .title {
    left: -52px;
    top: -33px;
    font-size: 60px;
    letter-spacing: 13px;
  }
  .subhead {
    font-size: 30px;
    letter-spacing: 6px;
  }
  .contact {
    margin: 7px 0;
  }
  h4 {
    font-size: 16px;
  }
  .social img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}

/* ________________________
/*  Ipad landscape */
/*________________________*/
@media screen and (width: 1024px) and (height: 768px) and (orientation: landscape) {
  .content {
    margin-top: 90px;
  }
  .title {
    left: -66px;
  }
}

/* ________________________
/*  small DESKTOP */
/*________________________*/
@media screen and (min-width: 1200px) {
  .content {
    width: auto;
    margin: 140px 230px 0;
  }
}

/* ________________________
/*  13" macbookpro DESKTOP */
/*________________________*/
@media screen and (min-width: 1400px) {
  .content {
    width: auto;
    margin: 120px 270px 0;
  }
}


/*________________________*/
/*  LARGE DESKTOP */
/*________________________*/
@media screen and (min-width: 1501px) {
  .content {
    width: calc(100vw - 500px);
    margin: 150px 250px 0;
  }
  .title {
    position: absolute;
    margin: 0;
    left: -90px;
    top: -55px;
    font-size: 100px;
    letter-spacing: 26px;
    font-weight: normal;
  }
  .contact {
    margin: 30px 0;
  }
  h4 {
    font-size: 20px;
  }
}
